In [1]:
from src.models.xgb import XGBCLIP

In [2]:
xgb = XGBCLIP.load_from_best_checkpoint()

In [3]:
submission_frame = xgb.make_submission_frame()

In [4]:
submission_frame

                                         true         pred
bergamo_alzano-lombardo_pony-burger_5   850.0   967.276184
bergamo_centro-storico_bar-mada_1      1490.0  1674.593506
bergamo_centro-storico_bar-mada_14      500.0   411.055359
bergamo_centro-storico_bar-mada_17     1240.0  1041.244263
bergamo_centro-storico_bar-mada_24      490.0  1062.394409
...                                       ...          ...
roma_villaggio-olimpico_enso_7          350.0   389.634766
roma_villaggio-olimpico_enso_75        2000.0  1793.551147
roma_villaggio-olimpico_enso_78        1000.0   789.291321
roma_villaggio-olimpico_enso_80         800.0   370.078400
roma_villaggio-olimpico_enso_82        1000.0  1203.017090

[1060 rows x 2 columns]